.wrapper {
  display: flex;
  flex-direction: column;

  margin: 24px auto 0px auto;
  height: 870px;
  padding: 15px;
  width: 941px;
  background: white;
  .mainContainer {
    display: flex;
    justify-content: space-between;
  }
}

.shortDescription {
  font-size: 12px;
}

.description {
  word-break: break-all;
}

.tag {
  margin-top: 7px;
  margin-bottom: 7px;
  border: 1px solid black;
  height: 20px;
  width: 38px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

.postArticle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 213px;

  .title {
    color: #1890ff;
    margin: 0px 0px 4px 0px;
    padding: 0px;
    font-size: 20px;
  }
  .like {
    background-image: url('../../../img/like.png');

    border: none;
    margin: 0px 0px 2px 13px;
    height: 15px;
    width: 16px;
    border-radius: 0px;
  }
  .countLike {
    margin: 3px 0px 0px 5px;
    height: 22px;
    width: 13px;
  }
}

.userInfo {
  .userWrapInfo {
    display: flex;
    justify-content: space-between;
  }
  .userName {
    font-weight: 600;
  }

  .datePost {
    color: gray;
  }

  .userAvatar {
    background: url('../../../img/avatar.png') no-repeat center;
    height: 46px;
    width: 48px;
  }
}
.wrapForBtn {
  display: flex;
  margin-top: 30px;

  .deleteBtn {
    padding: 6px 10px;
    width: 78px;
    height: 40px;
    color: #f5222d;
    border: 1px solid #f5222d;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin-right: 10px;
  }

  .editBtn {
    padding: 6px 15px;
    text-align: center;
    width: 65px;
    height: 26px;
    color: #52c41a;
    border: 1px solid #52c41a;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
  }
}
