@font-face {
  font-family: 'inter ui';
  src: url('../../fonts/font.ttf');
}

body {
  font-family: 'inter ui';
  margin: 0;
  padding: 0;
}
// .containerMain {
//   display: flex;
//   flex-direction: column;
//   background: #ebeef3;
//   width: 100%;
//   height: 977px;
// }

// .app {
//   margin: 0;
//   padding: 0;
// }
